<div class="alerts-container">
    <h2>⚠️ Alertas do Sistema</h2>

    <ul id="alerts-list"></ul>
</div>

<script src="/socket.io/socket.io.js"></script>

<script>
    const socket = io()

    const alertsList = document.getElementById('alerts-list')

    socket.on('admin-alert', (alert) => {
        const li = document.createElement('li')

        li.className = `alert alert-${alert.type}`

        li.innerHTML = `
            <strong>${alert.type}</strong><br>
            <span>${alert.message}</span><br>
            <small>${alert.time}</small>
            ${alert.route ? `<br><small>Rota: ${alert.method} ${alert.route}</small>` : ''}
            ${alert.stack ? `<pre>${alert.stack}</pre>` : ''}
        `

        alertsList.prepend(li)
    })
</script>
